/.vs/
/RekognitionFaceLandmark/bin/
/RekognitionFaceLandmark/obj/
/TextractRelationshipsView/bin/
/TextractRelationshipsView/obj/
/RekognitionDetectTextRelationshipsView/bin/
/RekognitionDetectTextRelationshipsView/obj/
